.sono-regular {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

/* What does ::after box-sizing: box-content do? */

body {
    background-color: #afafaf;
    font-family: sono-regular, Arial, sans-serif;
}

.main-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
}

.new-game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-game-controls {
    display: flex;
    justify-content: space-between;
}

.letter-board-wrap {
    border: 1px solid #282828;
    background-color: #afafaf;
}

.letter-board {
    aspect-ratio: 1 / 1;
    display: grid;
    color: #282828;
    margin: 0;
    transition: transform 1s ease-in-out;
}

.board-3x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-4x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.board-5x5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.letter {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    aspect-ratio: 1 / 1;
    border: 1px solid #282828;
    border-radius: 45%;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
    padding: 1em;
    margin: 0.25em;
    transition: transform 1s ease-in-out;
}

.option-switch {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    background: #ddd;
    border-radius: 20px;
}

.option-switch.board-size {
  width: 150px;
}

.option-switch.timer {
  width: 200px;
}

.option-switch input[type="radio"] {
  display: none;
}

.option-switch label {
  flex: 1;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 2;
  color: #666;
  font-size: 14px;
}

.option-switch input:checked + label {
  color: #fff;
}

.option-switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #4caf50;
  border-radius: 20px;
  transition: 0.3s ease;
  z-index: 1;
}

.option-switch.board-size .slider {
  width: 33.33%;
}

.option-switch.timer .slider {
  width: 25%;
}

#board-switch-3x3:checked ~ .slider {
  left: 0;
}

#board-switch-4x4:checked ~ .slider {
  left: 33.33%;
}

#board-switch-5x5:checked ~ .slider {
  left: 66.66%;
}

#timer-switch-untimed:checked ~ .slider {
  left: 0;
}

#timer-switch-1min:checked ~ .slider {
  left: 25%;
}

#timer-switch-3min:checked ~ .slider {
  left: 50%;
}

#timer-switch-5min:checked ~ .slider {
  left: 75%;
}
